<div class="row">
    <div class="col">
        {{!-- Change this to title of gym when available --}}
        <h2>{{gym.gymName}}</h2>
        {{#if userLoggedIn}}
        <div class="pull-right">
            {{!-- Rendering add/remove favorite button on first page load --}}
            <span id="fav-button-wrapper">
                {{#ifExistsInArray gym._id currentUser.favGymList}}
                <input id="btnRemoveFromFav" type="button" value="Remove from Favorites" class="btn btn-sm btn-danger"
                    data-gymid={{gym._id}} />
                {{else}}
                <input id="btnAddToFav" type="button" value="Add to Favorites" class="btn btn-sm btn-primary"
                    data-gymid={{gym._id}} />
                {{/ifExistsInArray}}
            </span>
            {{!-- Template which will be used to render add/remove favorite button when user clicks on it --}}
            <script id="add-remove-fav-template" type="text/x-handlebars-template">
                \{{#if gymIsFavorited}}
                    <input id="btnRemoveFromFav" type="button" value="Remove from Favorites" class="btn btn-sm btn-danger" data-gymid=\{{gym._id}} />
                \{{else}}
                    <input id="btnAddToFav" type="button" value="Add to Favorites" class="btn btn-sm btn-primary" data-gymid=\{{gym._id}} />
                \{{/if}}
            </script>


            <input type="button" onclick="location.href = '/review/new/{{gym._id}}'" ; value="Post a New Review"
                class="btn btn-sm btn-dark" />
        </div>
        {{/if}}
        <div>
            {{#each gym.category}}
            <span class="badge rounded-pill text-bg-secondary">{{.}}</span>
            {{/each}}
        </div>
        <div>
            <span class="bold">Average Rating:</span> {{{showRating gym.rating}}} {{gym.rating}}
        </div>
        <div>
            <div><span class="bold">Address:</span> {{gym.address}}</div>
            <div><span class="bold">Website:</span> {{gym.website}}</div>
        </div>
        <div>
            {{!-- First time render of like/dislike button --}}
            <div id="like-dislike-wrapper">
                <input class="btnLikeGym btn btn-sm btn-success" type="button" data-gymid={{gym._id}}
                    value="Like ({{gym.likedGymsCnt}})" {{#unless userLoggedIn}}disabled{{/unless}} />

                <input class="btnDislikeGym btn btn-sm btn-danger" type="button" data-gymid={{gym._id}}
                    value="Dislike ({{gym.dislikedGymsCnt}})" {{#unless userLoggedIn}}disabled{{/unless}} />
            </div>
            {{!-- Template which will be used to dynamically render like/dislike button with actual count when user
            clicks on it --}}
            <script id="like-dislike-template" type="text/x-handlebars-template">
                <input class="btnLikeGym btn btn-sm btn-success" type="button"
                data-gymid=\{{gym._id}} value="Like (\{{gym.likedGymsCnt}})" {{#unless
                userLoggedIn}}disabled{{/unless}} />

                <input class="btnDislikeGym btn btn-sm btn-danger" type="button"
                data-gymid=\{{gym._id}} value="Dislike (\{{gym.dislikedGymsCnt}})" {{#unless
                userLoggedIn}}disabled{{/unless}} />
            </script>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
        {{#each gym.reviews}}
        <div class="card review-card">
            <div class="card-body">
                <div>
                    <span class="username bold">{{user.userName}}</span> <span class="italic">{{dateOfReview}}</span>

                    {{#ifEquals user.userName ../loggedInUserName}}
                    <div class="pull-right edit-delete-wrapper">
                        <input type="button" value="Edit content"
                            onclick="location.href = '/review/updateContent/{{gymId}}/{{_id}}'"
                            class="btn btn-sm btn-outline-dark" />
                        <input type="button" value="Update rating"
                            onclick="location.href = '/review/updateRating/{{gymId}}/{{_id}}'"
                            class="btn btn-sm btn-outline-dark" />
                        <input type="button" value="Delete" onclick="location.href = '/review/delete/{{gymId}}/{{_id}}'"
                            class="btn btn-sm btn-outline-danger" />

                    </div>
                    {{/ifEquals}}


                    {{#if ../userLoggedIn}}
                    <input type="button" value="Respond with a comment" onclick="location.href = '/comment/new/{{_id}}'"
                        class="btn btn-sm btn-outline-primary pull-right" />
                    {{/if}}
                </div>
                <div>
                    <span class="bold">User Rating:</span> {{{showRating rating}}} {{rating}}
                </div>
                <div>
                    <span class="bold">Review:</span> {{content}}
                </div><br />
                <p><span class="bold">Comments:</span></p>
                {{#each comments}}
                <div class="card comment-box">
                    <div class="card-body">
                        <p>
                            <span class="username bold">{{user.userName}}</span>

                            {{#ifEquals user.userName ../../loggedInUserName}}
                            <span class="pull-right edit-delete-wrapper">
                                <input type="button" value="Edit content"
                                    onclick="location.href = '/comment/update/{{reviewId}}/{{_id}}'"
                                    class="btn btn-sm btn-outline-dark" />
                                <input type="button" value="Delete"
                                    onclick="location.href = '/comment/delete/{{reviewId}}/{{_id}}'"
                                    class="btn btn-sm btn-outline-danger" />
                            </span>
                            {{/ifEquals}}

                        </p>
                        <p>{{content}}</p>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        <hr>
        {{/each}}
    </div>
</div>
