<div class="row">
    <div class="col">
        {{!-- Change this to title of gym when available --}}
        <h2>{{gym.gymName}}</h2>
        <div class="pull-right">
            <input type="button" value="Add to Favorites" class="btn btn-sm btn-primary"/>
            <input type="button" onclick="location.href = '/review/new/{{gym._id}}'"; value="Post a New Review" class="btn btn-sm btn-dark"/>
        </div>
        <div>
            {{#each gym.category}}
            <span class="badge rounded-pill text-bg-secondary">{{.}}</span>
            {{/each}}
        </div>
        <div>
            Average rating: {{gym.rating}}
        </div>
        <div>
            <div><b>Address:</b> {{gym.address}}</div>
            <div><b>Website:</b> {{gym.website}}</div>
        </div>
        <div>
            <input type="button" value="Like ({{gym.likedGymsCnt}})" class="btn btn-sm btn-success" />
            <input type="button" value="Dislike ({{gym.dislikedGymsCnt}})" class="btn btn-sm btn-danger" />
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
        {{#each gym.reviewsList}}
        <div>
            <b>{{userName}}</b> gave a rating of <b>{{rating}}</b>
            <input type="button" onclick="location.href = '/comment/new/{{_id}}'" value="Respond with a comment" class="btn btn-sm btn-primary pull-right" />
        </div>

        <div>
            <i>Review:</i> {{content}}
            <br>
            <i> {{dateOfReview}}</i>
        </div><br />
        {{#each comments}}
        <p>
            Comment from <i><b>{{userName}}</i></b> on <i> {{dateOfComment}}</i><br>
            {{content}}

        </p>
        {{/each}}
        <hr>
        {{/each}}
    </div>
</div>