<main>
    <form action="/user/update" id="update" method="POST">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" placeholder="First Name" name="firstName"
                   value="{{firstName}}">
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" placeholder="Last Name" name="lastName"
                   value="{{lastName}}">
        </div>
        <div class="form-group">
            <label for="userName">Username*</label>
            <input type="text" class="form-control" id="userName" placeholder="userName" name="userName"
                   value="{{userName}}" required>
        </div>
        <div class="form-group">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city" placeholder="City" name="city" value="{{city}}">
        </div>
        <div class="form-group">
            <label for="state">State</label>
            <select class="form-control" id="state" name="state"></select>
        </div>
        <div class="form-group">
            <label for="dateOfBirth">Date of Birth</label>
            <input id="dateOfBirth" class="form-control" type="date" name="dateOfBirth" value="{{dateOfBirth}}"/>
        </div>
        <div class="form-group">
            <label for="password">Password*</label>
            <input type="password" class="form-control" id="password" aria-describedby="passValidations"
                   placeholder="Password" name="password" required>
            <small id="passValidations" class="form-text text-muted">Password must have at least 6 characters and
                contain both a letter and a number.</small>
        </div>
        <div class="form-group">
            <label for="confirm">Retype Password*</label>
            <input type="password" class="form-control" id="confirm" placeholder="Password" name="confirm" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <p>
        <a href="/user/profile">Back</a>
    </p>
    <p>
        Required fields are indicated by a *.
    </p>
    <script src="/public/js/constantList.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            populateStatesSelect('state', '{{state}}');
        });
    </script>
</main>